<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Stefano Zoia">
    <meta property="og:title" content="Visual Metaphors">
    <meta property="og:type" content="website">
    <title>Visual Metaphors</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body id="app">
    <div class="container">
        <h1>Visual Metaphors Evaluation</h1>

        <!-- IMAGE RANKING -->
        <div id="img-comp" v-if="status==='evaluation'">
            <div id="img-descr" class="row justify-content-center">
                <p class="col-12 col-sm-10 col-md-8 col-lg-6"><span v-text="description" style="white-space: pre-line"></span></p>
            </div>
            <form @submit.prevent="submitAnswer">
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 justify-content-center">
                    <div v-for="(img, i) in currentImages" class="col mb-3">
                        <img :src="img" class="img-fluid mx-auto d-block">
                        <select v-model="answer[i]" class="form-select" required>
                            <option disabled value="null">Ranking</option>
                            <option v-for="n in 5" :value="n" v-text="n"></option>
                        </select>
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                        <label for="textarea">Please explain the motivations for your choices</label>
                        <textarea class="form-control" id="textarea" style="height: 100px" v-model="comment"></textarea>
                    </div>
                </div>
                <button class="btn btn-primary mx-auto d-block" type="submit" :disabled="answer.includes(null) || comment==''">
                    Submit
                </button>
            </form>
        </div>
        <div v-else-if="status === 'thanks' || status === 'end'">
            <p>Thank you for participating in our study!</p>
            <div v-if="status === 'thanks'">
                <p>If you want, you can continue with other images:</p>
                <div class="action-buttons">
                    <button class="nav-button" @click="continuing()">Continue with other images</button>
                </div>
            </div>
            <div v-else>
                <p>You evaluated all the images in our dataset ✨</p>
            </div>
            <!--p>Click here if another person wants to participate:</p>
            <div class="action-buttons">
                <button class="nav-button" @click="restart()">Start a new session</button>
            </div-->
        </div>
        <!--div v-else-if="status === 'welcome'">
            <p>Dear Participant,<br/><br/>
                The following form will show you pairs of images together with a brief description. You will be asked to select the image that, according to you, better depicts the provided description.<br/><br/>
                You will be presented 30 images. For a better experience, do not close this page until you end the task. In any case, your answers are saved each time you send one.<br/><br/>
                Thank you for your time!</p>
            <div class="action-buttons">
                <button class="nav-button" @click="status='evaluation'">Continue</button>
            </div>
        </div-->
        <div v-else>
            Error 500: something went wrong in processing the data. Please try again later.
        </div>

        <!-- PROGRESS BAR -->
        <div v-if="status==='evaluation'">
            <div class="progress-bar">
                <div id="progress-fill" :style="{width: percentage}"></div>
            </div>
            <div id="progress-text" v-text="progrText"></div>
        </div>

    </div>
    
    <!-- FOOTER -->
    <!--footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h3>PRIVACY</h3>
                <p>This form is completely anonymous: no personal data is requested or stored.
                    Your answers are collected solely for research purposes.</p>
                <h3>SURVEY</h3>
                <p>This survey is part of a collaboration between: Örebro University (Sweden) - University of Salerno (Italy) - Università di Torino (Italy) - Constructor University Bremen (Germany)</p>
                <h3>CONTACT</h3>
                <p>CoDesign Lab EU - Cognitive Vision and Perception<br/>
                <a href="http://codesign-lab.org/cognitive-vision" target="_blank">http://codesign-lab.org/cognitive-vision</a></p>
                <p>If you are interested to learn more about the context of this evaluation or stay in touch, please contact:
                cognitive-vision@codesign-lab.org</p>
            </div>
        </div>
    </footer-->
    
    
    <script src="https://unpkg.com/vue@3.1.1/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        const { createApp } = Vue;

        createApp({
            data() {
                return {
                    //used for presenting the evaluation task
                    currentImages: [],
                    description: '',

                    answer: [],
                    comment: '',
                    
                    //used for progress bar
                    progrText: '',
                    percentage: '0%',
                    batchTarget: 30,     //number of images before thanks message
                    batchIncrement: 10,  //number of images to add when continuing

                    //used for controlling the overall status
                    status: 'evaluation', //'evaluation', 'end' or 'thanks'
                }
            },
            methods: {
                updateProgress(progress) {
                    const target = Math.min(this.batchTarget, progress.total)
                    if (target <= progress.current){
                        this.status = 'thanks';
                    }
                    const perc = (progress.current / target) * 100;
                    this.percentage = `${perc}%`;
                    this.progrText = `Progress: ${progress.current}/${target}.`;
                },

                // Load next pair of images
                loadImages() {
                    fetch('/get_images', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ 
                            sessionId: parseInt(sessionStorage.getItem("session_id"))
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.end) {
                            this.currentImages = {};
                            this.description = '';
                            this.updateProgress(data.progress);
                            this.status = 'end';
                        }else{
                            console.log('Received image data:', data);
                            this.currentImages = data.images;
                            this.answer = new Array(this.currentImages.length).fill(null);
                            this.comment = '';
                            this.description = data.description;
                            this.updateProgress(data.progress);
                        }
                    })
                    .catch(error => {
                        console.error('Error loading images:', error);
                    });
                },

                loadSession() {
                    id = sessionStorage.getItem("session_id")
                    if (! id) {
                        fetch("/get_session")
                        .then(response => response.json())
                        .then(data => {
                            sessionStorage.setItem("session_id", data.session);
                            this.loadImages();
                        });
                    }else{
                        this.loadImages();
                    }
                },

                // Update after each comparison
                submitAnswer() {
                    console.log(this.answer);
                    
                    fetch('/update_scores', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ 
                            images: this.currentImages,
                            answer: this.answer,
                            comment: this.comment,
                            sessionId: parseInt(sessionStorage.getItem("session_id"))
                        }),
                    })
                    .then(() => {
                        this.loadImages();
                    });
                },
                
                // Map keys to selection buttons
                animateButton(buttonId) {
                    const button = document.getElementById(buttonId);
                    button.classList.add('pressed');
                    setTimeout(() => {
                        button.classList.remove('pressed');
                    }, 100);
                },
                
                keyListener(event) {
                    if (event.code === 'ArrowLeft') {
                        this.selectWinner('image1');
                        this.animateButton('image1-btn');
                    } else if (event.code === 'ArrowRight') {
                        this.selectWinner('image2');
                        this.animateButton('image2-btn');
                    } /*else if (event.code === 'KeyN') {
                        this.selectWinner('tie');
                        this.animateButton('tie-btn');
                    }*/
                },

                /*restart() {
                    this.status = 'welcome';
                    fetch("/get_session")
                    .then(response => response.json())
                    .then(data => {
                        sessionStorage.setItem("session_id", data.session);
                        this.loadImages();
                    });
                },*/

                continuing() {
                    this.batchTarget = this.batchTarget + this.batchIncrement;
                    this.status='evaluation';
                    this.updateProgress(this.currentImages.progress);
                }
            },
            mounted() {
                // Initial loading
                this.loadSession();
                document.addEventListener('keydown', this.keyListener);
            }
        }).mount('#app');
    </script>
</body>
</html>